{% extends "layout.html.j2" %}
{% set active_page = "listEventPlanners" %}
{% block head_content %}
      <title>Eagle Events User</title>
{% endblock %}  
{% block body_content %}
    <div class="container">
        <div class="card card-container">
            <h2>User</h2>
            <form method="post" class="form-customer-2">
                   <div class="form-group row">
                        <label for="example-text-input" class="col-2 col-form-label">Name</label>
                            <div class="col-10">
                                <input name="name" class="form-control" type="text" id="name">
                            </div>
                    </div>
                <div class="form-group row">
                    <label for="example-email-input" class="col-2 col-form-label">Username</label>
                        <div class="col-10">
                             <input name="username" type="text" class="form-control" id="username" placeholder="">
                        </div>
                </div> 
                    <div class="form-group row">
                        <label for="exampleInputPassword1" class="col-2 col-form-label">Password</label>
                            <div class="col-10">
                                <input name="password" class="form-control" type="password" id="password">
                            </div>
                    </div>
                   <div class="form-group row">
                        <div class="col-10">
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="isAdmin" name="is_admin" class="form-check-input" type="checkbox"> Admin
                                </label>
                            </div>
                            <div class="form-check">
                                <label class="form-check-label">
                                    <input id="isActive" name="is_active" class="form-check-input" type="checkbox"> Active
                                </label>
                            </div>
                        </div>
                    </div>
                <div class="buttons">
                    <button class="btn btn-lg btn-primary btn-save" type="submit" onclick="saveUser()">Save</button>
                    <a class="btn btn-lg btn-danger btn-cancel" href="{{cancel_redirect}}">Cancel</a>
                </div>
            </form><!-- /form -->
        </div><!-- /card-container -->
    </div><!-- /container -->  
    <script>

   function buildInfo() {
        fetch('/api/user/?userId=' + "{{ userid }}", {
        credentials: "same-origin",
        method: "GET",
        }).catch(error => console.error('Error:', error))
          .then(res => res.json())
          .then(json => {
              document.getElementById('name').value = json.name;
              document.getElementById('username').value = json.username;

              if (json.admin) {
                  document.getElementById('isAdmin').checked = "checked";
              }
              if (json.active){
                  document.getElementById('isActive').checked = "checked";
              }
          });
    }

   function saveUser() {
    $('#loading').modal('show');
    payload = {
        'id': "{{ userid }}",
        'name': document.getElementById('name').value,
        'username': document.getElementById('username').value,
        'password': document.getElementById('password').value,
        'admin': document.getElementById('isAdmin').checked,
        'active': document.getElementById('isActive').checked
    };
    fetch('/api/user/save', {
        credentials: "same-origin",
        headers: {
            'Content-Type': "application/json",
        },
        method: "POST",
        body: JSON.stringify( payload )
    }).catch(error => console.error('Error:', error))
          .then(res => res.json())
          .then(json => {
              if (!json['error']) {
                  location.href = "{{ cancel_redirect }}";
              }
          });
    $('#loading').modal('hide');
    }

   window.onload = buildInfo;
    </script>
{% endblock %}
