{% extends "layout.html.j2" %}
{% block head_content %}
      <title>Eagle Events -Add Event</title>
{% endblock %}
{% block body_content %}
    <form method="post" enctype="multipart/form-data" onsubmit="$('#loading').modal('show');">
    <div class="container">
        <div class="card card-container-2">
            <h2>Event</h2>
            <div class="row-1">
            <div class="form-customer">
                        <div class="form-group row">
                        <label for="exampleSelect1">Customer</label>
                            <select class="form-control form-control-event" name="customer">
                              {% for o in customers %}
                                  {% if o.id == event.customer.id %}
                                      <option value="{{ o.id }}" selected>{{ o.name }}</option>
                                  {% else %}
                                      <option value="{{ o.id }}">{{ o.name }}</option>
                                  {% endif %}
                              {% endfor %}
                            </select>
                    </div>
                    <div class="form-group row">
                        <label for="exampleSelect1">Event Planner</label>
                            <select class="form-control form-control-event" name="planner">
                                {% for o in planners %}
                                    {%  if o.id == planner.id %}
                                        <option value="{{ o.id }}" selected>{{ o.name }}</option>
                                    {% else %}
                                        <option value="{{ o.id }}">{{ o.name }}</option>
                                    {% endif %}
                                {% endfor %}
                            </select>
                    </div>
                </div>
                       <div class="buttons-event">
                           <button class="btn btn-lg btn-success btn-block btn-event-function"
                                       onclick="document.getElementById('file').click();" type="button" name="button" value="import">Import Guests</button>
                           <button class="btn btn-lg btn-success btn-block btn-event-function" type="submit" name="button" value="seat"
                                   style={{ "display:none;" if imported == false}}>Seating Chart</button>
                           <button class="btn btn-lg btn-success btn-block btn-event-function" type="submit" name="button" value="attendance"
                                   style={{ "display:none;" if imported == false}}>Print Attendance List</button>
                           <button class="btn btn-lg btn-success btn-block btn-event-function" type="submit" name="button" value="table"
                                   style={{ "display:none;" if imported == false}} >Print Table Cart</button>
                           <input type=file id="file" name="file" onchange="this.form.submit(); $('#loading').modal('show');" style="display:none;"/>
                    </div>
            </div>
        </div>
                </div>
                <div class="container">
                    <div class="card card-container-2">
                        <h3>Event Information</h3>
                        <div class="row-2">
                            <div class="event-info">
                                <div class="form-group row">
                                <label for="example-text-input" class="col-2 col-form-label">Name</label>
                                    <div class="col-10">
                                        <input class="form-control form-control-event" type="text" name="name"
                                               value="{{event.name if event.name != None}}" >
                                    </div>
                                </div>
                                <div class="form-group row">
                                <label for="example-text-input" class="col-2 col-form-label">Venue</label>
                                    <div class="col-10">
                                        <input class="form-control form-control-event" type="text" name="venue"
                                        value="{{event.venue if event.venue != None}}">
                                    </div>
                                </div>
                                <div class="form-group row">
                                    <label for="example-datetime-local-input" class="col-2 col-form-label">Date and time</label>
                                <div class="col-10">
                                    <input class="form-control form-control-event" type="datetime-local" name="time"
                                           value={{ date }}>
                                </div>
                                </div>
                                 <div class="form-group row">
                                    <label for="exampleSelect1">Status</label>
                                        <select class="form-control form-control-event" name="status">
                                            {% if event.is_done == true %}
                                                <option >In Progress</option>
                                                <option selected>Done</option>
                                            {% else %}
                                                <option selected>In Progress</option>
                                                <option >Done</option>
                                            {% endif %}
                                        </select>
                                </div>
                                <div class="form-group row">
                                    <label for="exampleSelect1">Table Size</label>
                                        <select class="form-control form-control-event" name="table_size">
                                          {% for o in sizes %}
                                            {%  if o.id == event.table_size.id %}
                                                <option value="{{ o.id }}" selected>{{ o.size }}</option>
                                            {% else %}
                                                 <option value="{{ o.id }}">{{ o.size }}</option>
                                            {% endif %}
                                {% endfor %}
                                        </select>
                                </div>
                                <div class="form-group row">
                                    <label for="example-number-input" class="col-2 col-form-label">Precent Extra Seat</label>
                                        <div class="col-10">
                                            <input class="form-control form-control-event" type="number" name="extra"
                                                   value={{ event.percent_extra_seats if event.percent_extra_seats != None}} >
                                        </div>
                                </div>
                            </div>
                    </div>
                    <div class="buttons">
                            <button class="btn btn-lg btn-primary btn-save" type="submit" name="button" value="save">Save</button>
                            <button class="btn btn-lg btn-danger btn-cancel" type="submit" name="button" value="cancel">Cancel</button>
                    </div>
        </div>
    </div>
    </form>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>
{% endblock %}
