{% extends "layout.html.j2" %}
{% block head_content %}
    <title>Eagle Events Customers</title>
{% endblock %}
{% block body_content %}
    <h1>Customers</h1>
    <div class="container">
            <button class="btn btn-primary active" id="refreshButton" onclick="refresh()">Refresh</button>
        </div>
            <div class="card card-container-2">
                <table class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for customer in customers %}
                        <tr class = "click-row" data-href="modifyCustomer/{{ customer.id }}" id="{{ customer.id }}">
                            <td class="name">{{customer.name}}</td>
                            <td>{{customer.phone_number}}</td>
                            <td>{{customer.email}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="buttons-action">
                <button class="btn btn-lg btn-primary btn-add" onclick="window.location.href='/addCustomer'" type="button">Add</button>
            </div>
        </div>
<script src="static/bootstable.js"></script>
<script>
    $('table').SetEditable({onBeforeDelete: deleteCustomer});

    function deleteCustomer(row) {
      document.getElementById('itemToDelete').innerHTML = document.getElementById(row[0].id).getElementsByClassName("name")[0].innerHTML;
      document.getElementById('deleteDeletionModal').onclick = function() { doDeletion(row); };
      document.getElementById('cancelDeletionModal').onclick = function() { refresh(row); };
      $('#deletionModal').modal('show');
    }

    function doDeletion(row) {
      $('#deletionModal').modal('hide');
      $('#loading').modal('show');
      fetch('/deleteCustomer/' + row[0].id, {
        credentials: "same-origin",
        headers: {
            'Content-Type': "application/json",
        },
        method: "DELETE",
        }).catch(error => console.error('Error:', error)).then(refresh);
    }


    function refresh() {
      $('#deletionModal').modal('hide');

      url = window.location.href;
      window.location = url;

       // Add this after api conversion
       //$('#loading').modal('show');
    }

    $(".click-row").click(function() {
        window.location = $(this).data("href");
    });
</script>
{% endblock %}
