{% extends "layout.html.j2" %}
{% block head_content %}
    <title>Eagle Events Customers</title>
{% endblock %}   
{% block body_content %}
    <h1>Customers</h1>
        <div class="container">
            <div class="checkbox">
                <label>
                    <input type="checkbox" value="">Show All
                </label>
            </div>
            <div class="card card-container-2">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>John</td>
                            <td>(000)-000-0000</td>
                            <td>jhon@example.com</td>
                        </tr>
                        <tr>
                            <td>Mary</td>
                            <td>(000)-000-0000</td>
                            <td>Mary@example.com</td>
                        </tr>
                        <tr>
                            <td>July</td>
                            <td>(000)-000-0000</td>
                            <td>July@example.com</td>
                        </tr>
                    </tbody>
                </table>
            </div>
                <div class="buttons-action">
                <button class="btn btn-lg btn-primary btn-add" type="submit">Add</button>
            </div>
        </div>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="static/bootstable.js"></script>
<script>
    $('table').SetEditable();
</script>
{% endblock %}

