{% extends "layout.html.j2" %}
{% block head_content %}
    <title>Eagle Events Customers</title>
{% endblock %}   
{% block body_content %}
    <h1>Customers</h1>
    <div class="container">
            <button class="btn btn-primary active" id="refreshButton" onclick="refresh()">Refresh</button>
        </div>
            <div class="card card-container-2">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Phone</th>
                            <th>Email</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for customer in customers %}
                        <tr class = "click-row" data-href="modifyCustomer/ + {{ customer.id }}">
                            <td>{{customer.name}}</td>
                            <td>{{customer.phone_number}}</td>
                            <td>{{customer.email}}</td>
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
            <div class="buttons-action">
                <button class="btn btn-lg btn-primary btn-add" onclick="window.location.href='/addCustomer'" type="button">Add</button>
            </div>
        </div>
<script src="https://code.jquery.com/jquery-1.12.4.min.js"></script>
<script src="static/bootstable.js"></script>
<script>
    $('table').SetEditable();

    function refresh() {
        url = window.location.href;
        window.location = url;
    }

    $(".click-row").click(function() {
        window.location = $(this).data("href");
    });
</script>
{% endblock %}

