{% extends "layout.html.j2" %}
{% block head_content %}
    <title>Eagle Events Login</title>
{% endblock %}
{% block nav_content %}
{% endblock %}
{% block body_content %}
    <div class="card card-container">
        <img id="profile-img" class="profile-img-card" src="/static/image/admin-login.jpg" />
        <p id="profile-name" class="profile-name-card"></p>
            <div class="login-header">
                <h1>Eagle Events Login</h1>
            </div>
                <form class="form-signin">
                    <span id="reauth-email" class="reauth-email"></span>
                        <input type="email" id="inputEmail" class="form-control" placeholder="Email address" required autofocus>
                        <input type="password" id="inputPassword" class="form-control" placeholder="Password" required>
                    <div id="remember" class="checkbox">
                        <label>
                            <input type="checkbox" value="remember-me"> Remember me
                        </label>
                    </div>
                    <button class="btn btn-lg btn-primary btn-block btn-signin" type="submit">Sign in</button>
                </form><!-- /form -->
                <a href="#" class="forgot-password">
                Forgot the password?
                </a>
    </div>
{% endblock %}
