{% extends "layout.html.j2" %}
{% from "_macros.html.j2" import hello %}
{% block head_content %}
  <title>Eagle Events Home Page</title>
  <script>
  function setVal(response) {
    console.log(response);
    document.getElementById('username').innerHTML = response.username
  }

  function testApi() {

    payload = {
      test: 'testing'
    }

    fetch('/testApi', {
        credentials: "same-origin",
        headers: {
            "Content-Type": "application/json",
        },
        method: "POST",
        body: JSON.stringify( payload )
    }).then(res => res.json())
      .catch(error => console.error('Error:', error))
      .then(setVal);
    }
  </script>
{% endblock %}

{% block body_content %}
  {{ hello("John Doe") }}

  {% if test %}
    <h1>
    This is a test page with a test H1 and a variable: {{test}}
    </h1>
  {% else %}
    <h1>
    This is a test page with a test H1 and without a test variable
    </h1>
    <p>Press button to get current username</p>
    <p id='username' >Click the button</p>
    <button id="setTimeButton" onclick='testApi()'>Test API</button>
  {% endif %}
{% endblock %}
