{% extends "layout.html.j2" %}
{% block head_content %}
    <title>Eagle Events Users</title>
{% endblock %}
{% block body_content %}
    <h1>Users</h1>
        <div class="container">
            <button class="btn btn-primary active" id="refreshButton" onclick="refresh()">Refresh</button>
        </div>
            <div class="card card-container-2">
                <table id="listTable" class="table table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Username</th>
                            <th>Active</th>
                        </tr>
                    </thead>
                    <tbody id="listTable-body" onload="buildList()">
                    </tbody>
                </table>
            </div>
                <div class="buttons-action">
            <input type="button" class="btn btn-primary active btn-add" onclick="window.location.href='/addEventPlanner'" value="Add"/>
        </div>
    </div>
<script>

    function refresh() {
        url = window.location.href;
        window.location = url;
    }

    {% if g.current_user.is_admin %} 
      $(".click-row").click(function() {
          window.location = $(this).data("href");
      });
    {% endif %}

    function buildList() {
        let userTable = document.getElementById('listTable-body');
            fetch('/api/user/users', {
            credentials: "same-origin",
            method: "GET",
        }).catch(error => console.error('Error:', error))
          .then(res => res.json())
          .then(json => {
            userTable.innerHTML = '';
            for(i=0; i <= json.users.length -1; i++){
                let tr = userTable.insertRow();
                tr.class = "click-row";
                tr.insertCell().innerHTML = json.users[i].name;
                tr.insertCell().innerHTML = json.users[i].username;
                var checkbox = document.createElement('input')
                checkbox.type = "checkbox";
                if (json.users[i].active){
                    checkbox.checked = "checked";
                }
                checkbox.disabled = true;
                let td = tr.insertCell()
                td.appendChild(checkbox);
                let userId = json.users[i].id;
                tr.addEventListener('click', function(){
                    location.href = "/modifyEventPlanner/" + userId;
                });
            }
          });
    }

    window.onload = buildList;
</script>
{% endblock %}
